<p class="text_intro" style="margin: 0 0 20px;">Hi <%= @user.first_name %>!</p>
<p><%= @message %>.</p>
<a href="<%= Rails.configuration.frontend_url %>/<%= @url %>" style="text-decoration:none;color:white!important">
	<button class="cta_btn" style="background: #2A6BFD;width: fit-content;color: white;padding: 10px 20px;border-radius: 8px;cursor:pointer;border: none;font-size:15px;">
		Check it out!
	</button>
</a>