<p class="text_intro" style="margin: 0 0 20px;">Hi <%= @target.first_name %>!</p>
<p>The space <a href="<%= Rails.configuration.frontend_url %>/space/<%= @object.short_title %>"><%= @object.title %></a> has just finished.
<a href="<%= Rails.configuration.frontend_url %>/space/<%= @object.short_title %>" style="text-decoration:none;color:white!important">
	<button class="cta_btn" style="background: #2A6BFD;width: fit-content;color: white;padding: 10px 20px;border-radius: 8px;cursor:pointer;border: none;font-size:15px;">
		Check it out!
	</button>
</a>
