<p class="text_intro" style="margin: 0 0 20px;">Hi <%= @target.first_name %>!</p>
<p><a href="<%= Rails.configuration.frontend_url %>/user/<%= @author.id %>"><%= @author.full_name %></a> mentioned you <a href="<%= Rails.configuration.frontend_url %>/post/<%= @object.id %>#comment-<%= @object.id %>">in a thread</a>.</p>
<a href="<%= Rails.configuration.frontend_url %>/post/<%= @object.id %>" style="text-decoration:none;color:white!important">
	<button class="cta_btn" style="background: #2A6BFD;width: fit-content;color: white;padding: 10px 20px;border-radius: 8px;cursor:pointer;border: none;font-size:15px;">
		Check it out!
	</button>
</a>
