<p class="text_intro" style="margin: 0 0 20px;">Hi <%= @target.first_name %>!</p>
<p><a href="<%= Rails.configuration.frontend_url %>/user/<%= @author.id %>"><%= @author.first_name + " " + @author.last_name %></a> posted a <a href="<%= Rails.configuration.frontend_url %>/need/<%= @object.id %>">new need</a> on a <a href="<%= Rails.configuration.frontend_url %>/project/<%= @object.project.id %>">project</a> you are following.</p>
<a href="<%= Rails.configuration.frontend_url %>/need/<%= @object.id %>" style="text-decoration:none;color:white!important">
	<button class="cta_btn" style="background: #2A6BFD;width: fit-content;color: white;padding: 10px 20px;border-radius: 8px;cursor:pointer;border: none;font-size:15px;">
		Check it out!
	</button>
</a>
