<p class="text_intro" style="margin: 0 0 20px;">Hi <%= @target.first_name %>!</p>
<p>The project <a href="<%= Rails.configuration.frontend_url %>/project/<%= @object.id %>"><%= @object.title %></a> has applied to join your challenge <a href="<%= Rails.configuration.frontend_url %>/challenge/<%= @notification.metadata[:challenge_short_title] %>"><%= @notification.metadata[:challenge_title] %></a></p>
<a href="<%= Rails.configuration.frontend_url %>/challenge/<%= @notification.metadata[:challenge_short_title] %>/edit#projects" style="text-decoration:none;color:white!important">
	<button class="cta_btn" style="background: #2A6BFD;width: fit-content;color: white;padding: 10px 20px;border-radius: 8px;cursor:pointer;border: none;font-size:15px;">
		Accept it or reject it!
	</button>
</a>
