<p class="text_intro" style="margin: 0 0 20px;">Hi <%= @target.first_name %>!</p>
<p><a href="<%= Rails.configuration.frontend_url %>/user/<%= @author.id %>"><%= @author.full_name %></a> requested to join the <%= @object.class.name.downcase %>: <a href="<%= Rails.configuration.frontend_url %><%= @object.frontend_link %>"><%= @object.title %></a> you are an admin of.</p>
<a href="<%= Rails.configuration.frontend_url %><%= @object.frontend_link %>/edit#members" style="text-decoration:none;color:white!important">
	<button class="cta_btn" style="background: #2A6BFD;width: fit-content;color: white;padding: 10px 20px;border-radius: 8px;cursor:pointer;border: none;font-size:15px;">
		Respond to their request!
	</button>
</a>
