<mj-section background-color="#FFFFFF">
  <mj-column width="100%">
    <mj-text>
      Hi <%= @to.first_name %>!
    </mj-text>
    <mj-text padding-bottom="20px">
      Here is a selection of needs that might interest you
    </mj-text>
  </mj-column>

  <!-- TODO ADD project name & project Photo -->

  <% @needs.each do |need| %>
    <mj-column  width="33,333333%"
                border-radius="14px"
                border="1px solid rgb(220, 227,233)">
      <mj-text  padding="10px 20px"
                align="left">
        <%= need.title %>
      </mj-text>
      <mj-text  padding="10px 20px"
                align="left">
        <%= location(need)%>
      </mj-text>

      <mj-text  padding="10px 20px"
                align="left">
        <span style="font-weight:bold;">Description</span><%= sanitize(need.content)%>
      </mj-text>
      <mj-text  padding="10px 20px"
                align="left">
        <span style="font-weight: bold;">Expected Skills</span>
      </mj-text>

      <% Need.first.skills.take(3).each do |skill| %>

        <mj-text  padding="10px 20px"
                  align="left">
          <%= skills.skill_name %>
        </mj-text>
      <% end %>

      <!-- TODO Check the Link address -->

      <mj-button align="center"
                 background-color="#2A6BFD"
                 color="#FFFFFF"
                 padding="10px 20px"
                 border-radius="8px"
                 font-size="15px"
                 text-decoration="none"
                 href="<%= Rails.configuration.frontend_url %>/need/<%= need.id %>?utm_source=recsys&utm_medium=email&utm_campaign=<%= @utm %>"
                 >Check it out!
      </mj-button>
    </mj-column>
  <% end %>
</mj-section>
