<p class="text_intro" style="margin: 0 0 20px;">Hi <%= @to.first_name %>!</p>
<p><%= link_to @from.first_name + " " + @from.last_name, "#{Rails.configuration.frontend_url}/user/#{@from.id}" %> sent you a message on JOGL</p>
<div class="message_container" style="margin-top:20px;background: #fbfbfb;padding: 0 10px;border: 1px solid #b9b9b9;border-radius: 5px;">
	<p><u>Object:</u> <%= @object %></p>
	<p style="white-space: pre-line;"><%= @content %></p>
</div>
<p style="font-style:italic">To continue the discussion with <%= @from.first_name + " " + @from.last_name %>, reply to this email. This will send a direct email to <%= @from.first_name + " " + @from.last_name %>.</p>
<p style="font-size:90%;color:#282828">If you believe you have received this mail in error, or it looks like spam, please let us know by forwarding it to report@jogl.io</p>