<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title></title>
  </head>
  <body style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #282828; font-family: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; font-size: 14px; line-height: 1.5; margin: 0; min-width: 100%; padding: 0; width: 100% !important;" bgcolor="#F0F0F0">
    <style type="text/css">
      @font-face {
      	font-family: "Cooper Light"; font-weight: normal; font-style: normal; src: url("https://d207bzo2lz83l1.cloudfront.net/cooper-light-webfont.woff2") format("woff2"),url("https://d207bzo2lz83l1.cloudfront.net/cooper-light-webfont.woff") format("woff");
      }
      body {
      	width: 100% !important; min-width: 100%; background-color: #F0F0F0; margin: 0; padding: 0; font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif; font-size: 14px; line-height: 1.5; color: #282828; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
      }
      img {
      	border: 0; -ms-interpolation-mode: bicubic; outline: none;
      }
      .social-medias img {
      	opacity:.6;
      }
      .social-medias img:hover {
      	opacity:.8
      }
      .jogl-logo:hover {
      	opacity:.8;
			}
			.text_intro {
				margin: 0 0 20px;
			}
			.main_content a {
				color: #2A6BFD;
			}
			.main_content a:hover {
				opacity:.8;
			}
      .cta_btn {
      	background: #2A6BFD;
	      width: fit-content;
	      color: white;
	      padding: 10px 20px;
	      border-radius: 8px;
				cursor:pointer;
				border: none;
      }
      .cta_btn:hover {
      	opacity:.8;
      }
      .cta_btn a {
      	text-decoration:none;
      	color:white!important;
      	font-size:15px;
      }
			.message_container {
				margin-top:20px;
				background: #fbfbfb;
				padding: 0 10px;
				border: 1px solid #b9b9b9;
				border-radius: 5px;
			}
      @media all and (max-width: 540px) {
	      .img-responsive {
	      	height: auto !important; max-width: 100%; width: 100% !important;
	      }
	      .sm-col-10 {
	      	width: 41.1666666667% !important;
	      }
	      .hide-sm {
	      	display: none !important;
	      }
      }
      @media all and (min-width: 540px) {
	      .hide-lg {
		      display: none !important;
	      }
      }
    </style>
    <div class="preheader" style="background: white; border: 0px; color: white; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 0px; height: 0px; line-height: 0px; margin: 0; overflow-y: hidden; padding: 0;">
    </div>
    <table class="bg-grey-300 w100p" style="border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" bgcolor="#F0F0F0" width="100%" height="auto" cellpadding="0" cellspacing="0">
      <tr>
        <td class="text-center pt9 pb7" style="padding-bottom: 38px; padding-top: 64px;" align="center">
          <div style="width: 200px">
            <a target="_blank" href="https://app.jogl.io" style="color: inherit; text-decoration: none;" data-pm-no-track>
              <img alt="JOGL logo" style="-ms-interpolation-mode: bicubic; border: 0; display: block; outline: none; text-decoration: none; width: 189px;" class="block jogl-logo" src="https://gallery.mailchimp.com/ffefc0d7fb31cc92dbb27c0da/images/0e2eee4d-a4d8-4ae1-9f0c-6f1427ee8920.png">
            </a>
          </div>
        </td>
      </tr>
    </table>
    <table class="mailer-body" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse; border-spacing: 0; color: #282828; font-family: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; font-size: 14px; line-height: 1.5; margin: 0; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0; width: 100% !important;" bgcolor="#F0F0F0" width="100%" height="auto" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <center>
            <table align="center" class="mx-auto" style="border-collapse: collapse; border-spacing: 0; margin-left: auto; margin-right: auto; max-width: 600px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%" height="auto" cellpadding="0" cellspacing="0">
              <tr>
                <td>
                  <table class="w100p bg-white border border-dark-grey-500 border-regular" style="border: 1px solid #dcdedd; border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" bgcolor="#FFFFFF" width="100%" height="auto" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="py5 px5" style="padding: 30px;">
                        <table class="w100p" style="border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%" height="auto" cellpadding="0" cellspacing="0">
                          <tr>
                            <td class="text-left type-16 soft-black main_content" style="color: #282828; font-size: 16px; line-height: 24px;" align="left">
                              <%= yield %>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
    <table class="w100p" style="border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" bgcolor="#F0F0F0" width="100%" height="auto" cellpadding="0" cellspacing="0">
      <tr>
        <td class="pt8 pb12 w100p" style="padding-bottom: 42px; padding-top: 28px; width: 100%;" bgcolor="#F0F0F0">
          <table align="center" class="col-6 sm-col-10 mx-auto social-medias" style="border-collapse: collapse; border-spacing: 0; margin:0 auto 20px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; table-layout: fixed; width: 24.5%;" width="100%" height="auto" cellpadding="0" cellspacing="0">
            <tr>
							<td class="text-center valign-middle" style=";" align="center" valign="middle">
								<a href="https://www.facebook.com/justonegiantlab" style="color: inherit; text-decoration: none;" data-pm-no-track>
								<img alt="Facebook JOGL" width="24" style="opacity:.6;-ms-interpolation-mode: bicubic; border: 0; display: block; outline: none; text-decoration: none; width: 24px;" class="block" src="https://gallery.mailchimp.com/ffefc0d7fb31cc92dbb27c0da/images/44e846d8-d87c-4ee2-8c94-3c29eaa3cd3e.png">
								</a>
							</td>
							<td class="text-center valign-middle" style=";" align="center" valign="middle">
								<a href="https://www.twitter.com/justonegiantlab" style="color: inherit; text-decoration: none;" data-pm-no-track>
								<img alt="Twitter JOGL" width="24" style="opacity:.6;-ms-interpolation-mode: bicubic; border: 0; display: block; outline: none; text-decoration: none; width: 24px;" class="block" src="https://gallery.mailchimp.com/ffefc0d7fb31cc92dbb27c0da/images/7d5e4767-b217-4e6e-b569-7738e1dfb981.png">
								</a>
							</td>
							<td class="text-center valign-middle" style=";" align="center" valign="middle">
								<a href="https://www.linkedin.com/company/jogl/about/" style="color: inherit; text-decoration: none;" data-pm-no-track>
								<img alt="LinkedIn JOGL" width="24" style="opacity:.6;-ms-interpolation-mode: bicubic; border: 0; display: block; outline: none; text-decoration: none; width: 24px;" class="block" src="https://gallery.mailchimp.com/ffefc0d7fb31cc92dbb27c0da/images/40952dfc-17d8-4c01-992b-b71aa4101b09.png">
								</a>
							</td>
            </tr>
          </table>
          <table style="border-collapse: collapse; border-spacing: 0; mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%" height="auto" cellpadding="0" cellspacing="0">
            <tr>
              <td class="text-center pt2 type-12 soft-black" style="color: #282828; font-size: 12px; line-height: 18px; padding-top: 12px;" align="center">
                <a class="soft-black text-underline" href="http://eepurl.com/giW4uf" style="color: #282828; text-decoration: underline;" data-pm-no-track>Subscribe to our newsletter</a>
              </td>
            </tr>
            <tr>
              <td class="text-center pt2 type-12 soft-black" style="color: #282828; font-size: 12px; line-height: 18px; padding-top: 12px;" align="center">
                <%# if this is a message to a user who is already active, essentially %>
                <%# also, @to can sometimes be an email string, sometimes be a user, so this check guards against that to (hahaha, dadjokes4lyfe) %>
                <% if @to&.id %>
                  <p class="soft-black text-underline" style="color: #282828;">If you'd like to see less of these types of emails, you can choose which notifications you'd like to receive by <a href="<%= ENV['FRONTEND_URL'] %>/user/<%= @to.id %>/settings">logging in to JOGL and visiting your profile's settings page</a>.</p>
                  <p class="soft-black text-underline" style="color: #282828;">While we would be sad to see you go 😢, you can unsubscribe from all JOGL notifications <a href="{{{ pm:unsubscribe }}}">here</a>.</p>
                <% end %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <img src="https://emails.kickstarter.com/wf/open?upn=3a2p753ua0oSQOhl7T9WME4FWOZRhgwEM1fG7EB3GEtrycJabCAh5mvUNFihABCWGyDW6iL36tK-2FY6yejWphskFlmKfZmj5g7jpdYFcjZYvOCmzWZZY4YDGvxn7kth-2F08RLtHw65f6SYB8vbfdthxAZi-2ByUjmCX1stYJGdVEXr-2BLz4PpT-2BEcgqHUS00St88y9nImODpEFdXvLkre0-2BU3nYGnsacGlSfWdEfjZKD10xZ6aAG9QcHhlgf8k61-2B4885ikVTtNxxmiZbanKicDrOmw51jVNPfBi1fPLyN7xFNnDYaEjLoS6uvJJHvv014GVnpHNneGz-2BYQ6C7nkxOLxFVma2NjzknkAHja2DZelx-2FYI2WmkRfZfvyUjZkcLPbQ1rdc7DJ37jLmFoPYiZ8xLMghM4bHUEub066bpZlDyxD8eZYRf-2BxjpDAu1dd58IPs7mlyXy9x3SWNZdnLrm2y9F6iFv4BJR38mP3i0zbzr0OYsxZhMFRKpYoQ-2BaJ56COrCV" alt="" width="1" height="1" border="0" style="height:1px !important;width:1px !important;border-width:0 !important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;padding-top:0 !important;padding-bottom:0 !important;padding-right:0 !important;padding-left:0 !important;"/>
  </body>
</html>